.review {
   margin-bottom: 130px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }
   &__tittle{
      text-align: left;
   }

   &__items {
      display: flex;
     justify-content: space-between;
     align-items: flex-start;
     &:not(:last-child){
      margin-bottom: 60px;
     }
   }

   &__item {
   //  max-width: 30%;
   flex: 1 1 33.3333%;
   &:not(:last-child){
      margin-right: 60px;
   }

   }
 /*  &__new-style{
      &:nth-child(odd){
         &::before{
            content: "";
            transform: rotate(-40deg);
         }
         
      }
       margin-top: 60px;
      display: flex;
      justify-content: space-between;
      height: 350px;
      position: relative;
      &::before{
         content: "";
         position: absolute;
         height: 153%;
         top: -20%;
         width: 1px;
         background-color: $hoverColor;
         left: 48%;
         transform: rotate(40deg);
      }
      .review__item{
         &:not(:last-child){
            margin-right: 280px;
         }
         &:first-child{
            align-self: flex-start;
            max-width: 600px;
         }
         &:last-child{
            align-self: flex-end;
         }
      }
   }*/
}
.item-review {
   font-family: "MulLer";
  @include adaptiveValueREM('font-size',20 ,16);
    line-height: 1.2;
   position: relative;
 /*  &::before{
      content: "”";
      font-size: 4.5rem;
      position: absolute;
      top: -10px;
      left: -2.2rem;
   }*/
   &__text {
   //  text-align: justify;
  // font-family: "Russo One";
     position: relative;
    color: #232322;
    text-align: justify;
    margin-bottom: 45px;
     &::after{
        content: "";
        position: absolute;
         bottom: -15px;
         width: 100%;
         height: 1px;
         background-color: $darckColor;
     }
   }

   &__author {
      font-weight: 700;
      text-align: left;
      span{
         color: $hoverColor;
      }
   }
}
