/*LINKS*/
//==================================================================
.links {
   margin: 161px 0 30px 0;
   @media (max-width: $mobileSmall) {
      margin: 126px 0 20px 0;
   }
   &__body {
      @media (max-width: $mobile) {
         text-align: center;
      }
   }
   &__current {
      color: $hoverColor;
      font-family: "Muller";
      font-weight: 300;
      font-size: 15px;
      line-height: 1;
   }
   &__previous {
      position: relative;
      color: #828282;
      font-family: "Muller";
      font-weight: 300;
      font-size: 15px;
      line-height: 1;
      margin-right: 25px;
      transition: all 0.3s ease 0s;
      @media (pointer: fine) {
         &:hover {
            color: $hoverColor;
         }
      }
      &::after {
         content: "";
         position: absolute;
         width: 5px;
         height: 1px;
         top: 43.4%;
         right: -15px;
         background-color: #828282;
      }
   }
}
/*LINKS*/
//==================================================================

/*MAIN-BANER-TOP*/
//==================================================================
.main-baner-top {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__body {
      position: relative;
      text-align: center;
      padding-bottom: 33.143%;
      margin-left: 50px;
      margin-right: 50px;
      font-size: rem(150);
   }

   &__lage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      object-fit: cover;
      @media (max-width: $mobile) {
         display: none;
      }
   }

   &__small {
      display: none;
      @media (max-width: $mobile) {
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__tittle {
      position: absolute;
      z-index: 5;
      text-transform: uppercase;
      left: 0;
      // bottom: -43px;
      @include adaptiveValueREM("bottom", -43, -10, 1920, 768, 1);
      @include adaptiveValueREM("font-size", 125, 30, 1810, 320, 3);
      line-height: 1.2;
      color: #ffffff;
      text-align: left;
      @media (max-width: $mobile) {
         text-align: right;
         right: 0;
      }
   }
}

/*MAIN-BANER-TOP*/
//==================================================================

/*OUTDOR-ADVERTISING-ABOUT*/
//==================================================================
.outdor-advertising-about {
   margin-bottom: 30px;
   @media (max-width: $tablet) {
      margin-bottom: 20px;
   }
   position: relative;
   &__container {
   }

   &__body {
      position: relative;
      max-width: 1155px;
      margin-left: auto;
      text-align: left;
      padding-bottom: 71px;
      z-index: 5;
      font-family: "Muller";
      line-height: 1.8;
      @include adaptiveValueREM("font-size", 20, 16);
      span {
         color: $mainColor;
         font-weight: 700;
      }
      @media (max-width: $mobileSmall) {
         padding-bottom: 45px;
      }
   }
   &__tittle {
      position: absolute;
      bottom: 0;
      left: 0;
      text-transform: uppercase;
      line-height: 1.2;
      @include adaptiveValueREM("font-size", 100, 30);
      color: $hoverColor;
      opacity: 0.08;
      @media (max-width: $mobile) {
         text-align: center;
         padding-left: 30px;
      }
   }
}
/*OUTDOR-ADVERTISING-ABOUT*/
//==================================================================

/*OUTDOR-ADVERTISING*/
//==================================================================
.outdor-advertising {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }

   &__tittle {
      margin: 0 0 50px 0;
      text-align: left;
      @media (max-width: $mobile) {
         margin: 0 0 40px 0;
      }
   }

   &__row {
      display: flex;
      justify-content: space-evenly;
      @media (max-width: $tablet) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__item {
      text-align: left;
      &:not(:last-child) {
         margin-right: 30px;
      }
      &:first-child {
         max-width: 819px;
      }
      &:not(:first-child) {
         max-width: 300px;
      }
      @media (max-width: $tablet) {
         margin-right: 0px;
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }
}
.description-outdor-advertising {
   &__tittle {
      font-family: "Muller";
      font-weight: 700;
      font-size: 20px;
      line-height: 1.8;
      margin-bottom: 15px;
      color: $hoverColor;
   }

   &__text {
      font-family: "Muller";
      line-height: 1.8;
      color: $mainColor;
      font-size: rem(16);
   }
}
/*OUTDOR-ADVERTISING*/
//==================================================================

/*OUTDOR-ADVERTISING-PRODUCTS*/
//==================================================================
.outdor-advertising-products {
   &__container {
   }

   &__item {
      display: flex;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
      &:not(:last-child) {
         margin-bottom: 80px;
      }
      @media (max-width: $tablet) {
         margin-bottom: 50px;
         &:nth-child(even) {
            .item-outdor-advertising-products__description {
               order: 2;
            }
            .item-outdor-advertising-products__img {
               order: 1;
            }
            .item-outdor-advertising-products__btn-mobile {
               order: 3;
            }
         }
      }
   }
}
.item-outdor-advertising-products {
   &__img {
      position: relative;
      // padding-bottom: 39.999999%;
      flex: 0 1 900px;
      &:first-child {
         margin-right: 63px;
         @media (max-width: em(1181)) {
            margin-right: 20px;
         }
      }

      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: fill;
      }
      @media (max-width: $tablet) {
         flex: 1 1 auto;
         //  padding-bottom: 0;
         img {
            position: relative;
            object-fit: contain;
         }
         &:first-child {
            margin-right: 0px;
         }
         margin-bottom: 20px;
      }
   }

   &__description {
      flex: 0 1 577px;
      &:first-child {
         margin-right: 63px;
      }
      @media (max-width: $tablet) {
         flex: 1 1 auto;
         &:first-child {
            margin-right: 0px;
         }
      }
   }

   &__btn-mobile {
      display: none;
      @media (max-width: $tablet) {
         display: block !important;
      }
   }
}
.description-product {
   &__tittle {
      @include adaptiveValueREM("font-size", 40, 25);
      line-height: 1.2;
      text-transform: uppercase;
      color: $darckColor;
      margin-bottom: 25px;
      text-align: left;
      @media (max-width: $mobile) {
         margin-bottom: 20px;
      }
   }

   &__body {
   }

   &__text {
      font-family: "Muller";
      line-height: 1.8;
      font-size: rem(16);
      margin-bottom: 15px;
   }

   &__text-more {
      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__read-more-btn {
      display: none;
      transition: all 0.3s ease 0s;
      font-family: "Muller";
      font-weight: 500;
      font-size: rem(16);
      line-height: 1;
      margin: 15px 0 47px 0;
      position: relative;
      transition: all 0.3s ease 0s;
      color: $darckColor;
      &.active {
         opacity: 0;
         visibility: hidden;
         height: 0;
         margin: 0;
      }
      &::before {
         content: "";
         position: absolute;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: $darckColor;
         bottom: 0;
      }
      @media (max-width: $tablet) {
         display: block;
      }
   }

   &__text-more-mobile {
      font-family: "Muller";
      line-height: 1.8;
      font-size: rem(16);
      display: none;
      margin-bottom: 15px;
      @media (max-width: $tablet) {
         display: block;
      }
   }

   &__type {
      font-family: "Muller";
      font-weight: 700;
      font-size: rem(16);
      line-height: 1.8;
      color: $hoverColor;
      margin-bottom: 5px;
   }

   &__list {
      font-family: "Muller";
      font-size: rem(16);
      line-height: 1.8;
      color: $mainColor;
      margin-bottom: 15px;
   }

   &__item {
   }

   &__details {
      font-family: "Muller";
      font-size: rem(16);
      line-height: 1.8;
      p {
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
      span {
         color: $hoverColor;
         font-weight: 700;
      }
      margin-bottom: 30px;
      @media (max-width: $tablet) {
         margin-bottom: 0px;
      }
   }

   &__read-less-btn {
      display: none;
      position: relative;
      transition: all 0.3s ease 0s;
      opacity: 0;
      visibility: hidden;
      height: 0;
      margin: 0;
      font-family: "Muller";
      font-weight: 500;
      font-size: rem(16);
      line-height: 1;
      transition: all 0.3s ease 0s;
      color: $darckColor;
      &.active {
         opacity: 1;
         visibility: visible;
         margin: 15px 0 47px 0;
         height: 100%;
      }
      &::before {
         content: "";
         position: absolute;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: $darckColor;
         bottom: 0;
      }
      @media (max-width: $tablet) {
         display: block;
      }
   }

   &__btn {
      font-family: "Muller";
      font-weight: 500;
      font-size: rem(16);
      line-height: 1;
      padding: 17px 40px;
      background-color: $hoverColor;
      color: #ffffff;
      @media (max-width: $tablet) {
         display: none;
      }
   }
}

/*OUTDOR-ADVERTISING-PRODUCTS*/
//==================================================================
