.polygraphy-to-top {
   margin-bottom: 140px;
   @media (max-width: $tablet) {
      margin-bottom: 85px;
   }
}
.polygraphy-products-tittle {
   text-align: left;
}
.smm-to-top__item{
   span{
      color: $hoverColor;
   }
}
