.portfolio {
   &__container {
   }

   &__body {
      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__body-mobile {
      display: none;
      @media (max-width: $tablet) {
         display: block;
      }
   }

   &__images {
      display: flex;
      &:last-child {
         .portfolio__row {
            &:nth-child(2) {
               justify-content: flex-start;
            }
         }
      }
   }

   &__row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:not(:last-child) {
         margin-right: 56px;
      }
   }

   &__item {
   }

   &__img {
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;
      
      transition: opacity 0.3s ease 0.5s 1s;
      &.active{
         img{
            opacity: 1;
            z-index: 10;
         }
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: fill;
         z-index: 0;
         opacity: 0;
      }
      .loading {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 5;
      }
     
      .ball {
         width: 44px;
         height: 44px;
         border-radius: 50%;
         &:not(:last-child){
            margin-right: 20px;
         }
         animation: 2s bounce ease infinite;
      }
      .blue {
         background-color: #4285f5;
      }
      .red {
         background-color: #ea4436;
         animation-delay: .25s;
      }
      .yellow {
         background-color: #fbbd06;
         animation-delay: .5s;
      }
      .green {
         background-color: #34a952;
         animation-delay: .75s;
      }
      @keyframes bounce {
         50%{
            transform: translateY(25px);
         }
      }
   }

   &__link {
      margin-bottom: 60px;
      @include adaptiveValueREM(" margin-bottom", 60, 20, 1920, 992, 1);
      .information-footer__item-link {
         @include adaptiveValueREM("font-size", 25, 18);
         font-weight: 300;
         line-height: 1;
         color: $mainColor;
      }
   }
   .mobile-portfolio {
      display: none;
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &__item {
         max-width: 430px;
      }
   }
}

.portfolio-description {
   box-sizing: content-box;
   position: relative;
   &:hover {
      .portfolio-description__body {
         opacity: 0.9;
         visibility: visible;
         /* transform: translate(0%, 0);*/
         width: 100%;
      }
   }
   &__body {
      cursor: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $darckColor;
      opacity: 0.9;
      font-family: "Muler";
      color: #ffffff;
      display: grid;
      grid-template-rows: auto 1fr;
      align-items: center;
      text-align: center;
      transition: all 0.5s ease 0s;
      opacity: 0;
      visibility: hidden;
      //transform: translate(-100%, 0);
      width: 0;
   }
   &__tittle {
      margin-top: 10%;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: rem(18);
      p {
         &:not(:last-child) {
            margin-bottom: 10px;
         }
         &:nth-child(2) {
            @include adaptiveValueREM("font-size", 24, 18);
         }
      }
   }
   &__list {
      margin-top: -10%;
   }
   &__item {
      @include adaptiveValueREM("font-size", 20, 16);
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}
