/*WHY-SMM*/
//==================================================================
.why-smm {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: em(1179)) {
         flex-direction: column;
         justify-content: center;
      }
   }

   &__tittle {
      text-align: left;
      @include adaptiveValueREM("max-width", 580, 370, 1920, 992, 1);
      span {
         color: $hoverColor;
      }
   }

   &__list {
   }

   &__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #e0e0e0;
         z-index: 5;
      }
   }

   &__text {
      position: relative;
      font-family: "Muller";
      line-height: 1.8;
      color: $mainColor;
      font-weight: 700;
      margin-right: 119px;
      @include adaptiveValueREM("margin-right", 119, 30, 1920, 1180, 1);
      font-size: rem(20);
      flex: 0 0 auto;
      padding-bottom: 10px;
      min-height: 46px;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: $mainColor;
         z-index: 5;
      }
      @media (max-width: em(1350)) {
         span {
            display: block;
         }
      }
      @media (max-width: em(1179)) {
         flex: 0 1 auto;
      }
      @media (max-width: $mobile) {
         line-height: 1.5;
         
      }
   }

   &__count {
      font-family: "Muller";
      color: $hoverColor;
      font-weight: 700;
      line-height: 1.8;
      font-size: rem(20);
      padding-bottom: 10px;
   }
}
/*WHY-SMM*/
//==================================================================

/*SMM-NUMBERS*/
//==================================================================
.smm-numbers {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }

   &__container {
   }

   &__tittle {
      text-align: left;
   }

   &__body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include adaptiveValueREM("gap", 40, 15, 1920, 992, 1);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: auto auto;
         gap: 20px;
      }
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(4, auto);
      }
   }

   &__item {
   }
}
.tittle {
}
.item-smm-number {
   &__number {
      font-family: "Muller";
      font-weight: 700;
      font-size: rem(50);
      line-height: 1.8;
      color: $hoverColor;
   }

   &__text {
      font-family: "Muller";
      font-size: rem(16);
      line-height: 1.8;
      color: $mainColor;
   }
}
/*SMM-NUMBERS*/
//==================================================================

/*SMM-PROMOTION*/
//==================================================================
.promotion-smm {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }

   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }

   &__tittle {
      text-align: left;
      span {
         color: $hoverColor;
      }
      max-width: 504px;
   }

   &__text {
      padding: 50px 60px;
      font-family: "Muller";
      background-color: $mainColor;
      color: #ffffff;
      font-weight: 700;
      line-height: 1.5;
      @include adaptiveValueREM("font-size", 30, 20);
      max-width: 836px;
   }
}
.tittle {
}
/*SMM-PROMOTION*/
//==================================================================

/*SMM-PRICE*/
//==================================================================
.smm-price {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }

   &__tittle {
      text-align: right;
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
      @media (max-width: $tablet) {
         grid-template-columns: auto;
         grid-template-rows: auto auto auto;
      }
   }

   &__item {
      position: relative;
   }
}
.tittle {
}
.item-price-smm {
   &__tittle {
      position: relative;
      font-size: rem(35);
      line-height: 1.2;
      color: $darckColor;
      text-align: left;
      text-transform: capitalize;
      margin-bottom: 45px;
   }

   &__list {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: -33px;
         background-color: $darckColor;
         height: 1px;
         width: 100%;
      }
   }

   &__item {
      position: relative;
      padding-left: 16px;
      font-family: "Muller";
      font-size: rem(18);
      line-height: 1.8;
      color: $mainColor;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 11px;
         background-color: $darckColor;
         height: 6px;
         width: 6px;
         border-radius: 50%;
         z-index: 5;
      }
      margin-bottom: 5px;
   }

   &__price {
      margin-top: 40px;
      padding: 17px 40px;
      font-family: "Muller";
      background-color: $hoverColor;
      color: #ffffff;
      font-size: rem(16);
      font-weight: 500;
      line-height: 1;
   }
}

/*SMM-PRICE*/
//==================================================================

/*SMM-PORTFOLIO*/
//==================================================================
.smm-portfolio {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__body {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @media (max-width: em(1179)) {
         flex-direction: column;
      }
   }

   &__img {
      position: relative;
      margin-right: 60px;
      @media (max-width: em(1179)) {
         margin-right: 15px;
         margin-bottom: 30px;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: fill;
      }
   }

   &__content {
      @media (max-width: $mobile) {
         &:last-child {
            text-align: center;
         }
      }
   }

   &__tittle {
      max-width: 710px;
      text-align: left;
      margin-bottom: 70px;
      @include adaptiveValueREM("margin-bottom", 70, 37, 1920, 1180, 1);
      @media (max-width: em(1179)) {
         padding-left: 30px;
         padding-right: 30px;
         margin-bottom: 45px;
      }
   }

   &__link {
      display: inline-block;
      padding: 17px 30px;
      font-family: "Muller";
      background-color: $hoverColor;
      color: #ffffff;
      font-weight: 500;
      font-size: rem(16);
      text-align: left;
      @media (max-width: em(1179)) {
         text-align: center;
         margin-left: 30px;
      }
      @media (max-width: $mobile) {
         margin-left: 0px;
         width: 90%;
      }
   }
}
/*SMM-PORTFOLIO*/
//==================================================================

/*SMM-TO-TOP*/
//==================================================================
.smm-to-top {
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
   &__container {
   }

   &__tittle {
      position: relative;
      text-align: left;
      span {
         color: $hoverColor;
      }
      &::before {
         content: "";
         bottom: -50px;
         position: absolute;
         width: 100%;
         height: 1px;
         background-color: $mainColor;
      }
      margin-bottom: 90px;
      @media (max-width: $tablet) {
         margin-bottom: 65px;
         &::before {
            bottom: -40px;
         }
      }
   }

   &__list {
   }

   &__item {
      position: relative;
      @include adaptiveValueREM("font-size", 35, 20);
      color: $darckColor;
      line-height: 1.2;
      margin-bottom: 80px;

      &::before {
         content: "";
         bottom: -40px;
         position: absolute;
         width: 100%;
         height: 1px;
         background-color: $mainColor;
      }
      p {
         font-family: "Muller";
         color: $mainColor;
         line-height: 1.8;
         font-size: rem(18);
         margin-top: 15px;
         @media (max-width: $mobile) {
            font-size: rem(16);
            margin-top: 10px;
         }
      }
      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;
         &::before {
            bottom: -25px;
         }
      }
   }
}
.tittle {
}

/*SMM-TO-TOP*/
//==================================================================

.smm-help{
   margin-bottom: 100px;
   @media (max-width: $tablet) {
      margin-bottom: 60px;
   }
}
